# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\8_семестр\Красникова\ReqMonitor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
